body {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightcyan;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 600px;
    width: 600px;
    border-style: solid;
    background-color: white;
}

.squares {
    height: 37.5px;
    width: 37.5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header {
    background-color: #041931d0;
    height: 50px;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: large;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: lightcyan;
    height:max-content;
    gap: 20px;
}

.buttonAndContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
    gap: 20px;
}

.clearButton {
    background-color: black;
    color: white;
    width: 100px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.colorSelector {
    height: 50px;
    width: 50px;
}