.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 600px;
    width: 600px;
    border-style: solid;
}

.squares {
    height: 37.5px;
    width: 37.5px;
}